<div class="product-card" *ngIf="product">
  <div class="product-card-image" style="background-image: url('assets/images/valantis_card_image.png')"></div>
  <div class="product-card-name">{{product.product}}</div>
  <div class="product-card-extra">
    <div class="product-card-detail">
      Товар номер: {{count}}
    </div>
    <div class="product-card-detail" *ngIf="product.brand">
      Бренд: {{product.brand}}
    </div>
    <div class="product-card-detail" *ngIf="!product.brand">
      Бренд Отсутствует
    </div>
  </div>
  <div class="product-card-info">
    <div class="product-card-price">
      {{product.price}} руб.
    </div>
    <div class="product-card-action">
      <button class="button" (click)="addToCart()">В корзину</button>
    </div>
  </div>

</div>
