<div class="catalog">
  <div class="container">
    <div class="searchEmpty" *ngIf="searchEmpty">
      <p>По Выбранным Вами поисковым критериям ничего не найдено. Перейдите в общий каталог или выберите другой вариант
        поиска</p>
      <button class="button" routerLink="/catalog">Catalog</button>
    </div>
    <div class="catalog-cards">
      <product-card *ngFor="let product of products let index = index" [product]="product"
                    [count]="catalogCodes[index]"></product-card>
    </div>
    <app-pagination *ngIf="idArray.length > 50&&products.length>0"
                    [current]="current"
                    [total]="total"
                    (goTo)="onGoTo($event)"
                    (next)="onNext($event)"
                    (previous)="onPrevious($event)"
    ></app-pagination>
  </div>
</div>
