.catalog {
  padding-bottom: 50px;

  .container {
    .catalog-cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;
      margin-bottom: 50px;
    }

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
  }
}
