.catalog {
  padding-bottom: 50px;

  .container {
    .searchEmpty {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      p {
        text-align: center;
        font-weight: 500;
        font-size: 20px;
        line-height: 150%;
        max-width: 500px;
        margin-bottom: 100px;
      }

      .button {
        min-width: 150px;
      }
    }

    .catalog-cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;
      margin-bottom: 50px;
    }

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
  }
}

@import "../../../assets/styles/adaptive.scss";
