.main {
  flex: 1 0 auto;

  padding-top: 15px;
  text-align: center;
  padding-bottom: 175px;

  .main_title {
    font-weight: 500;
    margin-bottom: 50px;
  }

  .button {
    width: 150px;
  }
}
