<header class="header">
  <div class="container">
    <a class="logo" routerLink="/">
      <img src="/assets/images/valantis-logo.png" alt="Logo">
    </a>
    <div class="header-content">
      <div class="header-top">
        <div class="header-top-menu">
          <nav>
            <ul>
              <li>
                <a routerLink="/">Главная</a>
              </li>
              <li>
                <a routerLink="/catalog">Каталог</a>
              </li>
            </ul>
          </nav>
        </div>
        <a href="tel:+7(911)407-8612" class="header-top-phone">
          +7(911)407-8612
        </a>
      </div>

      <div class="header-bottom">
        <category-filter *ngFor="let category of categories" [category]="category"></category-filter>
        <div class="header-bottom-search">
          <input class="header-search-input" type="text" placeholder="Search by Product" [formControl]="searchField"
                 (focus)="changeShowedSearch(true)" (blur)="changeShowedSearch(false)">
        </div>
      </div>
    </div>
  </div>
</header>
